<div id="footer">
    <p>
        {{#with site}}
            {{title}} is written by <a href="{{authorUrl}}">{{authorName}}</a>
            and powered by <a href="https://iznaut.itch.io/bimbo">bimbo</a>
        {{/with}}
    </p>
</div>