<body>
    <div id="container">
        <div id="header">This site requires JavaScript!</div>
        <div id="content">
            {{> post}}
            {{{page.mdContent}}}
        </div>
        <div id="footer"></div>
        <script src="index.js"></script>
    </div>
</body>