<div id="footer">
    <p>
        {{#with site}}
            {{title}} is written by <a href="{{authorUrl}}">{{authorName}}</a>,
            powered by <a href="https://github.com/iznaut/bimbo">bimbo</a>,
            and hosted by <a href="https://nekoweb.org/">Nekoweb</a>
        {{/with}}
    </p>
</div>